* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}

/* Start styling the attribution  */
.attribution {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
  line-height: 1.6;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
}
.attribution a {
  color: #ffa500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.attribution a:hover {
  color: #00ffff;
  text-decoration: none;
}
.attribution a:focus-visible {
  outline: 0.125rem solid #00ffff;
  text-decoration: none;